In [29]:
from sklearn.base import BaseEstimator,TransformerMixin
import numpy as np
import pandas as pd

In [87]:
class standard_scale(BaseEstimator, TransformerMixin):
    def __init__(self, factor=1.5):
        self.factor = factor
        
    def standardize(self, X, y=None):
        X = pd.Series(X).copy()
        
        # List of features that will use in transform function
        self.standardeviation.append(X.std())
        self.mean.append(X.mean())
        

    def fit(self,X,y=None):
        
        # List of calculation features
        self.standardeviation = []
        self.mean = []
        
        X.apply(self.standardize)
        return self
    
    def transform(self,X,y=None):
        X = pd.DataFrame(X).copy()
        for i in range(X.shape[1]):
            x = X.iloc[:, i].copy()
          
            X.iloc[:, i] = (x - self.mean[i])/self.standardeviation[i]
        return X

In [88]:
test = pd.DataFrame({'col1':[100,200,300,999],'col2':[0,0,1,2],'col3':[-10,0,1,2]})
test

   col1  col2  col3
0   100     0   -10
1   200     0     0
2   300     1     1
3   999     2     2

In [89]:
sd_scale = standard_scale()

In [90]:
sd_scale.fit(test)

standard_scale()

In [91]:
sd_scale.get_params()

{'factor': 1.5}

In [92]:
sd_scale.mean

[399.75, 0.75, -1.75]

In [93]:
sd_scale.standardeviation

[407.7584047774695, 0.9574271077563381, 5.560275772537426]

In [94]:
sd_scale.transform(test)

       col1      col2      col3
0 -0.735117 -0.783349 -1.483739
1 -0.489873 -0.783349  0.314733
2 -0.244630  0.261116  0.494580
3  1.469620  1.305582  0.674427

In [39]:
test2 = pd.DataFrame({'col1':[100,200,300,999],'col2':[0,0,1,2],'col3':[-10,0,1,2]})
test2

   col1  col2  col3
0   100     0   -10
1   200     0     0
2   300     1     1
3   999     2     2

In [40]:
outlier_remover.fit_transform(test2)

    col1  col2  col3
0  100.0     0   NaN
1  200.0     0   0.0
2  300.0     1   1.0
3    NaN     2   2.0